<div class="footer-container text-center">
	<footer class="row row-cols-3 py-5 my-2">
	
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{ path('mention') }}" class="nav-link p-0 text-white">{% trans %}Mentions légales{% endtrans %}</a>
				</li>
			</ul>
		</div>
			<div class="col">
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="{{ path('Confidentialite') }}" class="nav-link p-0 text-white">{% trans %}Politique de confidentialité{% endtrans %}</a>
					</li>
				</ul>
			</div>
			<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{ path('apropos') }}" class="nav-link p-0 text-white">{% trans %}A propos{% endtrans %}</a>
				</li>
			</ul>
			
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{ path('contact') }}" class="nav-link p-0 text-white">{% trans %}Nous-contactez{% endtrans %}</a>
				</li>
			</ul>
		</div>
			<div class="col">
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="{{ path('app_logout') }}" class="nav-link p-0 text-white">{% trans %}Se déconnecter{% endtrans %}</a>
					</li>
				</ul>
			</div>
			<div class="col">
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="{{ path('app_login') }}" class="nav-link p-0 text-white">{% trans %}Êtes-vous administrateur{% endtrans %} ?</a>
					</li>

				</ul>
			</div>
		
<br>
<br>
        <div class="container">
            <div class="footer_group">
              <ul class="footer_social">
                
                <a href="https://www.snapchat.com/add/coach-nath?share_id=mz+cDlK8S9O15xqLsOXlPQ&locale=fr_FR&sid=bb340d84fc7a45adb7b20238facdaa20" target="_blank" class="footer_social-link">
                 <i class="bi bi-snapchat"></i>
                </a>
                <a href="https://www.instagram.com/coachnath13/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank" class="footer_social-link">
                  <i class="bi bi-instagram"></i>
                </a>
              </ul>
              <span class="footer_copy">
                &#169,copyright bedimcode.tous droits réservés
              </span>
<span><a href="https://github.com/wafafoufa88"><i class="bi bi-github"></i></a></span>
            </div>

          </div>
		</footer>
	</div>
