<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eba50e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Salle de sport</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path ('show_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Nos service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Qui somme nous ?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('show_contact') }}">Contact</a>
        </li>
        {% if not app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login')}}">connexion</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Espace admin
            </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">AJouter une actualité</a></li>
            <li><a class="dropdown-item" href="#">Ajouter une Activite</a></li>
            
        </ul>
        </li>
        {% endif %}
    </ul>
    </div>
</div>
</nav>