{% extends 'base.html.twig' %}

{% block title %}BackOffice / Slider
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-10 mx-auto my-4">

			<h2 class="text-center section_subtitle titre_presetation1 fs-1">Gérer ma page d'accueil</h2>
<br>
<br>
<br>

			<table class="table text-white">

				<thead>
					<tr class="text-center">
						<th>#</th>
						<th>Photo</th>
						<th>Ordre</th>
						<th>Date Enregistrement</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>

					{% for slider in sliders %}

						<tr class="text-center align-middle">

							<td>{{ slider.id }}</td>
							<td><img width="150" height="150" class="img-fluid" src="{{ asset('uploads/' ~ slider.photo) }}" alt="{{ slider.photo }}"></td>
							<td>{{ slider.ordre }}</td>
							<td>{{ slider.createdAt | date('d/m/Y') }}</td>
							<td>
								<a href="{{ path('update_slider', {'id': slider.id}) }}" class="btn btn-sm text-info" title="Modifier">
									<i class="btn btn-warning bi bi-pencil-square"></i>
								</a>
								<a href="{{ path('soft_delete_slider', {'id': slider.id}) }}" class="btn btn-sm text-danger" title="Archiver">
									<i class="btn btn-danger bi bi-trash-fill"></i>
								</a>
							</td>
						</tr>

					{% endfor %}

				</tbody>

			</table>

		</div>
	</div>

	<div class="row text-white">
		<div class="col-8 mx-auto">

			{{ form_start(form) }}

			{{ form_row(form.ordre) }}
			{{ form_row(form.photo) }}

			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}

